<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.waterfairy.gamecenter" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 必选 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 【必选】用以设置前台是否显示通知 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="游戏中心"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".shouye.FirstActivity"
            android:label="游戏中心"
           >
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".category.CateItemActivity"
            android:label="000" >
        </activity>
        <activity
            android:name=".category.CateTopicActivity"
            android:label="@string/title_activity_cate_topic" >
        </activity>
        <activity
            android:name=".category.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".activitys.Detail_RunkActivity"
            android:label="Detail_RunkActivity" />
        <activity
            android:name=".activitys.NewGameActivity"
            android:label="@string/title_activity_new_game" >
        </activity>
        <activity
            android:name=".activitys.TopicGameActivity"
            android:label="@string/title_activity_topic_game" >
        </activity>
        <activity
            android:name=".activitys.TopicListActivity"
            android:label="@string/title_activity_topic_list" >
        </activity>
        <activity
            android:name=".activitys.ActivityListActivity"
            android:label="@string/title_activity_activity_list" >
        </activity>
        <activity
            android:name=".category.HotSearchActivity"
            android:label="@string/title_activity_hot_search" >
        </activity>
        <activity
            android:name=".activitys.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".activitys.FanKuiActivity"
            android:label="@string/title_activity_fan_kui" >
        </activity>
        <activity android:name=".activitys.DownloadingActivity" />
        <activity
            android:name=".activitys.GiftDetailsActivity"
            android:label="@string/title_activity_gift_details" >
        </activity>
        <activity
            android:name=".activitys.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".activitys.RegistActivity"
            android:label="@string/title_activity_regist"/>
         <activity
            android:name=".AgreementActivity"
            android:label="@string/title_activity_agreement" />
            <activity
                android:name=".activitys.ActivityDetail"
                android:label="@string/title_activity_activity_detail" />
        <activity
            android:name=".activitys.NetGameMoreActivity"
            android:label="net" />
        <activity
            android:name=".activitys.NewServerActivity"
            android:label="ser" />
        <activity
            android:name=".activitys.NewServerDetailActivty"
            android:label="new" />
        <activity
            android:name=".activitys.LuntanActivity"
            android:label="lun" />
        <activity
            android:name=".activitys.MyLiquanActivity"
            android:label="li" >
        </activity>
        <activity
            android:name=".activitys.QuestionActivity"
            android:label="QuestionActivity" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <!-- 监听通知点击或者忽略处理的广播 -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" >
        </receiver>

        <!-- 监听开机运行、网络连接变化、卸载的广播 -->
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- 监听消息到达的广播 -->
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:exported="false"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>

        <!-- 监听宿主选举的广播 -->
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </receiver>

        <!-- 监听注册的广播 -->
        <!-- 【应用包名】字符串需要替换成本应用的应用包名 -->
        <!-- Umeng的长连服务，用来建立推送的长连接的 -->
        <!-- 【应用包名】字符串需要替换成本应用的应用包名 -->
        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:label="PushService"
            android:process=":push" >
            <intent-filter>
                <action android:name="com.waterfairy.gamecenter.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.waterfairy.gamecenter.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </service>

        <!-- Umeng的消息接收服务 -->
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:process=":push" />

        <!-- Umeng的消息路由服务 -->
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService" />
            </intent-filter>
        </service>

        <!-- v2.4.1添加的Service，Umeng的消息接收后的处理服务 -->
        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.unregistercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.autoupdate.handler.action" />
            </intent-filter>
        </service>

        <!-- V1.3.0添加的service，负责下载通知的资源 -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" />

        <!-- V2.5.0添加的Service，用于本地通知 -->
        <!-- 如果不使用本地通知，可以注释掉本地通知服务的配置 -->
        <service
            android:name="com.umeng.message.local.UmengLocalNotificationService"
            android:exported="false" />

        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.waterfairy.gamecenter.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengMessageBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5630214de0f55ab2b0002790" >
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="5c49aca334f5da9575104a7e6e72175b" >
        </meta-data>


        <activity
            android:name=".activitys.NativeActivity"
            android:label="mmmm" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="main"
            android:windowSoftInputMode="adjustPan">
        </activity>
    </application>

</manifest>
